.oversize-link {
  color: black;
}
.over-main2, .over-main3{
  margin-top: 100px;
}

.details-main-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}
.product-image {
  width: 400px;
  height: 550px;
  object-fit: contain;
  margin-top: 20px;
  margin-right: 50px;
}

.Details-info {
  align-items: center;
  justify-content: center;
}

.size-btn {
  text-align: center;
  width: 80px;
  margin: 0.5rem 0.3rem 0.1rem 0;
  padding: 10px 30px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: rgb(252, 252, 252);
  color: #000000;
  border-radius: 20px;
}
.size-btn:hover {
  background-color: black;
  color: #fff;
}
.cart-btn {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  cursor: pointer;
  font: inherit;
  width: 350px;
  height: 45;
  background-color: black;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
}
.tax-p {
  font-size: 13px;
  margin-top: -1rem;
  letter-spacing: 0.07rem;
  color: #989898;
}
.price {
  letter-spacing: 0.13rem;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
}
.offer {
  font-size: 1.1rem;
}
.offer-icons {
  font-size: 1.5rem;
}
.title {
  font-weight: 400;
  max-width: 350px;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
}
.next-page {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.next-page Link {
  color: black;
}
.next-page p {
  margin-top: 20px;
  padding: 10px;
  position: relative;
  text-align: center;
  /* Add position relative for absolute positioning of the underline */
}

.next-page p::after {
  content: ""; /* Create a pseudo-element for the underline */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* Set the width to cover the entire width of the paragraph */
  height: 1px; /* Adjust the height of the underline */
  background-color: transparent; /* Initially set the color to transparent */
  transition: background-color 0.3s ease; /* Add transition for smooth animation */
}

.next-page p:hover::after {
  background-color: black; /* Change the background color on hover */
}

.left-arrow,
.right-arrow {
  margin-top: 1;
  cursor: pointer;
}
@media (max-width: 700px) {
  .details-main-container {
    display: block;
  }
  .product-image {
    width: 80%;
    align-items: center;
  }
}
